body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    height: 800px;
}

.passed {
    background-color: black;
}

.square {
    border: 1px solid black;
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.square>div>* {
    flex: 1;
}